
<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar name="searchBar"
    [(ngModel)]="searchText"
    (ionInput)="onSearchInput()"
    debounce="500"
  >
  </ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let movie of movies">
      <button ion-item (click)="showDetails(movie.id)">
        <ion-thumbnail item-left>
          <img *ngIf="movie.posterUrl" src="{{movie.posterUrl}}" >
        </ion-thumbnail>

          <h2>{{movie.title}}</h2>
          <p>{{movie.year}}</p>
          <p>{{movie.type}}</p>
        </button>

        <ion-item-options side="right">
          <button ion-button (click)="addFavorite(movie)" >
            <ion-icon name="star" ></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
